extends layout

block content
  div.blog-container
    div.blog-head
      h2 blogging, writing, sharing, etc
        p put some kind of header info here, maybe auth / search links
      a(href="/blog/new") New Post
    div.blog-body
      each entry in all_posts
        div.post-preview
          h4 
            a(href=entry.url) #{entry.title} 
          h5 #{entry.date}
          p #{entry.content}
