extends layout

block content
  div.code-page-container
    div.code-page-content
      h3 Coding / Webdesign portfolio
        p Link here to samples of projects I've built or am currently working on. Any documentation I find can go here, links to resources I find useful and articles I find interested. I can sandbox demo apps here and share documentation. 
      h3 GitHub Link
        p Work out the styles for this page depending on how the content pans out
        a(href='http://www.github.com/mishyjari') Link to my GitHub
        
        p Maybe highlight a few key projects or share other projects im contributing to
