extends layout

block content
  div.main-content
    div.content1
      h3#welcome Hello and Welcome
        p Welcome to the personal web portal for <strong>Michelle Frattaroli</strong>. This site serves as a portfolio for her personal and professional work in <a href='#'>photography</a> (coming soon) and <a href="./code">coding projects</a>, as well as a <a href="./blog">blog</a> for assorted personal musings, and sharing of external content.
        p This is also an experimental development grounds to learn front- and back-end web development skills. <em>The site is currently in production!</em>. This site is build on a NodeJS Express platform with database integration via Mongoose. Check out the source code for the site on <a href="https://github.com/mishyjari/webpage">GitHub</a>.
    div.content2
      h3 Some Links
        ul
          li Would you like a link? 
            a(href='#') I am a link!
          li How about another?
            a(href='#') I'm a link too! 
          li Where will this link lead??  
            a(href='#') Who knows?
          li Meow?   
            a(href='#') MEOW.

    div.content3
      h3#dolor Sed ut perspiciatis 
        p#sit Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?

    div.content4
      h4#support Support a budding developer!
      p <em>Hi! I'm Michelle, and I'm working towards becoming a professional software engineer!</em>
      p For years, I've been brewing a frustrating anxiety over the uncertainty of what to do with this life I've been given. I've always known I'm capable, but finding a career that is an engaging challenging to my easily underwhelmed mind, but also accessible to someone who dropped out of art school, has left me with a deep uncertainty about my future. In the latter part of 2019, I decided I was going to become a software engineer. After completing all of the Javascript classes on <a href="http://www.codecademy.com">CodeCademy</a>, and with some loving encouragement from my partner, I decided to pursue education in a software engineering bootcamp. 
      p I've been accepted to a program at The Flatiron School in New York City, which will begin at the end of March. Despite a partial scholarship, the financial burden of supporting myself while in a 45-hour per week, fifteen week-long program is more than I can carry on my own shoulders. Focus, dedication, motivation, excitement and passion are the keys to my ability to stick something through and thrive on it. I've got all of that in plenty. I <em>will</em> be a professional software engineer by the end of this summer, as long as I can carry my own weight financially until I get there. 
      p I hesistate to ask for financial help on the journey toward a goal which is my own responsibility, but I know that I do not exist in isolation, nor will I when I'm actually out and working in the industry. If you are feeling generous and it would not be burdensome, I would be incredibly grateful for your contribution to my <a href="#">GoFundMe</a>. I will send a hand-written (<em>turns out that's novel these days</em>) letter of gradititude to each contribution, large or small, and offer anything (within reason) I can to return the favor to you!
      p Please reach out to me via my <a href="./contact"> page if you'd like to chat!
